{% extends "emails/email_components/base-email.html" %}

{% block title %}Forgotten Password{% endblock title %}

{% block body %}
<!-- Title -->
<h1>Forgotten Password? 🤔</h1>
<!-- Email body text -->
<p style="font-size: 18px; Margin-bottom: 30px;">
    <br>
    No worries, let's arrange a new password for you!</p>
<br>
<!-- Smaller text (font-size: 12px) -->
<p style="Margin-bottom: 30px; font-size: 12px;">
    If this was not you, ignore this email. We will not let anyone but you change your password.
</p>
<br>
<!-- Start button -->
{% include 'emails/email_components/centered-red-button.html' with url=url button_text="Create New password" %}
<!-- End button -->
{% endblock body %}

<!-- Use default footer -->